<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{%extends "MasterPage.html"%}
	{%block content%}
	<br/><br/><br/>
	<div class="jumbotron">
		<h1> My Sessions </h1>    
		<p> Check out your future diet sessions</p>
	</div>


	<table border='0' width='100%' style="">


		<tr bgcolor='#ebebe0'><td><b><h4> When </h4></b></td> <td><b><h4> Status </h4></b></td> <td><b><h4> Actions </h4></b></td></tr>
		{% if diet_list is none %}
		<tr><td><h4 style="text-align:center">No Available or Booked Sessions</h4></td></tr>
		{% else %}
		{%for i in range(length)%}
			{% if i%2 != 0%}
				<tr bgcolor='#f5f5f0'>
			{%else%}
				<tr>
			{%endif%}

				<td><font size = '4'> {{dates[i]}} <br/> {{times[i]}} </font> </td>
				{% if diet_list[i].Client is none %}
				<td><font size = '4'> Available </font></td>
				<form action = " {{ url_for('DeleteSession', ID=diet_list[i].ID) }}" method="post">
				<div class='form-group'><div class='col-sm-offset-2 col-sm-10'>
				<td> <input type='submit' value='Delete Session' name='sessions{{i.ID}}' class='btn btn-danger'/> </td>
				</div></div>
				</form>
				{% else %}
				<td><font size = '4'> Booked with {{diet_list[i].Client.FirstName}} {{diet_list[i].Client.LastName}}</font></td>
				<div class='form-group'><div class='col-sm-offset-2 col-sm-10'>
					<form action = "{{url_for('Profile', Email = session['email'])}}">
					<td> <input type='submit' value='View Client' name='sessions{{i.ID}}' class='btn btn-info'/></td>
					</form>
				</div></div>
				{%endif%}
			</tr>

			{%endfor%}
			{%endif%}

		</table>


		<form action="{{ url_for('DietitianSessions') }}" method = 'post' >


			<br/><br/>
			<div class="form-group">
				<label class="control-label col-sm-2" for="date">Date:</label>
				<div class="col-sm-3">
					<input type="date" class="form-control" id="date" name="date" value="Date">
				</div>
			</div>

			<br />
			<div class="form-group">
				<label class="control-label col-sm-2" for="from">Time:</label>
				<div class="col-sm-3">
					<input type="time" class="form-control" id="time" name="time" value="From">
				</div>
				<br/><br />

				<div class="form-group">        
					<div class="col-sm-offset-2 col-sm-10">
						<input type="submit" value="Add Session"  class="btn btn-primary"/>
					</div>
				</div>

			</div>
		</form>
		{%endblock%}
	</body>
	</html>